@import "variables.less";
@import "mixins.less";

// sticky footer

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: @footer-fixed-height;
}

footer {
    background-color: @color-primary-1;

    // sticky footer
    position: absolute;
    bottom: 0;
    width: 100%;

    height: @footer-fixed-height;
}

.footer-copyright {
    border-top: 6px solid @color-primary-2;
    background-color: @color-primary-3;
    padding: 20px;

    hr {
      background-color: black;
    }
}

.footer-body{
    padding: 30px;
}