@import "variables.less";
@import "mixins.less";
@import "utilities.less";

@import "../bootstrap/mixins.less";
@import "../bootstrap/variables.less";

.main{
    overflow-x: hidden;
}

.main-content{
    margin-top: 50px;
    min-height: 800px;
}

aside{
    float: right !important;
}

.content-row-title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-img-caption {
    margin: 20px;
    text-align: center;
}

.content-separator{
    min-height: @content-filler-height;
}

.content-row {
    padding: 20px;

    h2 {
        font-size: 2.5em;
        padding: 20px;
    }

    p {
        font-size: 1.6em;
    }    
}

@media (max-width: @screen-xs){
    .content-row {
        padding: 10px;

        h2 {
            font-size: 2em;
            padding: 10px;
        }

        p {
            font-size: 1.1em;
        }
    }
}

.content-row-primary {
    background-color: @color-primary-1;

    h2, a {
        color: @color-secondary-0;
    }
}

.content-row-secondary {
    background-color: @color-secondary-1;

    h2, a {
        color: @color-primary-3;
    }
}

.content-row-ternary{
    background-color: @color-ternary-2;

    h2, a {
        color: @color-primary-0;
    }
}

.image-content {
    .make-image-widget(white, 0.9);
}

@media (max-width: @screen-sm){
    .image-content{
        padding: 10px;
    }
}

@media (min-width: @screen-sm){
    h2{
        font-size: 2.5em;
    }
    p{
        font-size: 1.5em;
    }
}

.image-content-primary {
    background-color: @color-primary-0;
    color: @image-content-text;

    a{
        color: @color-secondary-1;
    }
}

.image-content-secondary {
    background-color: @color-secondary-0;
    color: @image-content-text;

    a{
        color: @color-primary-0;
    }
}

.logo-title-text-container{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.logo-title-text{
    text-align: center;
    font-size: 5em;
    color: lighten(black, 20);
}

@media (max-width: @screen-md){
    .logo-title-text{
        font-size: 4em;
    }
}

@media (max-width: @screen-xs){
    .logo-title-text{
        font-size: 3em;
    }
}