@color-primary-0: #FF826B; 
@color-primary-1: #FFC5BA;
@color-primary-2: #FFA08F;
@color-primary-3: #FF684C;
@color-primary-4: #E94325;

@color-secondary-0: #5C86C4; 
@color-secondary-1: #B4CCEF;
@color-secondary-2: #83A7DC;
@color-secondary-3: #3E6AAB;
@color-secondary-4: #24539A;

@color-ternary-0: #D9F868;
@color-ternary-1: #EEFDB8;
@color-ternary-2: #E3FB8C;
@color-ternary-3: #D0F449;
@color-ternary-4: #B7DF23;

/*
@rgba-primary-0: rgba(255,130,107,1); 
@rgba-primary-1: rgba(255,197,186,1);
@rgba-primary-2: rgba(255,160,143,1);
@rgba-primary-3: rgba(255,104, 76,1);
@rgba-primary-4: rgba(233, 67, 37,1);

@rgba-secondary-1-0: rgba( 92,134,196,1); 
@rgba-secondary-1-1: rgba(180,204,239,1);
@rgba-secondary-1-2: rgba(131,167,220,1);
@rgba-secondary-1-3: rgba( 62,106,171,1);
@rgba-secondary-1-4: rgba( 36, 83,154,1);

@rgba-secondary-2-0: rgba(217,248,104,1);
@rgba-secondary-2-1: rgba(238,253,184,1);
@rgba-secondary-2-2: rgba(227,251,140,1);
@rgba-secondary-2-3: rgba(208,244, 73,1);
@rgba-secondary-2-4: rgba(183,223, 35,1);
*/

@aside-width: 420px;

@content-filler-height: 120px;
@content-filler-height-sm: 90px;

@image-content-text: black;

@footer-fixed-height: 420px;
