@color-primary: rgba(244, 67, 54, 0.2);
@color-secondary: rgba(0, 150, 136, 0.7);
@color-tertiary: rgba(76, 175, 80, 0.7);

@aside-width: 420px;

@content-filler-height: 120px;
@content-filler-height-sm: 90px;

@image-content-text: black;

@footer-fixed-height: 420px;
