@import "less/imports.less";


.loading-page-widget {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    .centered-image-square(url(../img/loaders/loadingicon.gif), 198px);
}


.loading-widget-chart {
  //background-image: url(assets/img/loaders/loading-chart.gif);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  .centered-image-square(url(../img/loaders/loading-chart.gif), 198px);
}