@import "less/imports.less";


.loading-page-widget {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    .centered-image-square(url(../img/loaders/loadingicon.gif), 198px);
}
